.banner {
    position: relative;

    .carousel-inner {
        height: 560px;
        background-color: #e8f7fa;

        img {
            width: 100%;
            height: 560px;
            object-fit: cover;
            background-color: #e8f7fa;
        }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1200px) {
            height: 800px;

            img {
                height: 800px;
                object-fit: scale-down;
            }
        }
    }

    .content {
        position: absolute;
        z-index: 9;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        h1 {
            font-weight: 700;
            font-size: 32px;


            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                font-size: 42px;
            }

            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                font-size: 52px;
            }

            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                font-size: 62px;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 20px;

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                font-size: 22px;
            }

            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                font-size: 32px;
            }

            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                font-size: 42px;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: var(--text);
            width: 60%;
            margin: 0px auto;

            // X-Large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                font-size: 16px;
                margin: 0px;
            }

            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                font-size: 20px;
                margin: 0px;
            }
        }

    }

    .carousel-control-next-icon {
        width: 50px;
        height: 50px;
        background-color: var(--black);
        border-radius: 160px;
        color: var(--white);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .carousel-control-next-icon {
        background-image: none;
    }

    .carousel-control-prev-icon {
        width: 50px;
        height: 50px;
        background-color: var(--black);
        border-radius: 160px;
        color: var(--white);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .carousel-control-prev-icon {
        background-image: none;
    }

    .carousel-control-next,
    .carousel-control-prev {
        z-index: 10;
    }

    .carousel-indicators {
        bottom: 98px;
    }
    .carousel-indicators [data-bs-target] {
        background-color: var(--primary);
    }

}