
header {
    .sub-head {
        min-height: 40px;
        background-color: var(--white);

        ul {
            li {
                a {
                    display: flex;
                    width: 22px;
                    height: 22px;
                    border-radius: 160px;
                    border: 1px solid #e1e1e1;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    color: var(--black);
                    margin-right: 5px;
                    transition: all 0.3s ease-out;
                    &:hover{
                        border: 1px solid var(--primary);
                        color: var(--primary);
                    }
                }
            }
        }
        a{
            color: var(--black);
            font-size: 12px;
            transition: all 0.3s ease-out;
        }
    }
    .main-head{
        padding: 10px;
        .logo img{
            height: 85px;
        }
    }
    .header-bg{
        background-color: #eef9fb;
    }
    .inner-head{
        padding: 10px;
        background-color: #eef9fb;
        .logo img{
            height: 85px;
        }
    }
    .navigation-b{
        li{
            a{
                color: var(--text);
                font-weight: 600;
                font-size: 16px;
                margin-left: 40px;
                transition: all 0.3s ease-out;
                &:hover{
                    color: var(--black);
                }
            }
        }
    }
    .sm-header{
        background: var(--black);
        padding: 15px;
        height: 65px;
        .logo-sm{
            height: 60px;
        }
        .btn-menu{
            border: none;
            background:none;
            color: var(--white);
            font-size: 30px;
        }
    }
    .offcanvas-body{
        ul{
            li{
                padding: 20px;
                a{
                    color: var(--black);
                }
            }
        }
        .social{
            li{
                a{
                    display: flex;
                    width: 32px;
                    height: 32px;
                    border-radius: 160px;
                    border: 1px solid #e1e1e1;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    color: var(--black);
                    transition: all 0.3s ease-out;
                    &:hover{
                        border: 1px solid var(--primary);
                        color: var(--primary);
                    }
                }
            }
        }
    }
    .offcanvas-end{
        width: 330px;
    }
    .active{
        color: var(--black) !important;
    }
}
