@media (min-width: 992px) {
    .text-md-left {
        text-align: left!important;
    }
}
@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left!important;
    }
}

.titles{
    font-size: 24px;
    font-weight: 600;
    @media (min-width: 992px) {
        font-size: 42px;
    }
}
.line-h-auto{
    line-height: auto;
}
.line-h-24{
    line-height: 24px;
}
.line-h-26{
    line-height: 26px;
}
.line-h-28{
    line-height: 28px;
}
.line-h-30{
    line-height: 30px;
}
.font-weight-light{
    font-weight: 300;
}
.font-weight-medium{
    font-weight: 500;
}
.font-weight-bold{
    font-weight: 600;
}